################################################################################
# Ignora arquivos e pastas do Visual Studio
################################################################################

# Diretórios e arquivos de build
**/bin/
**/obj/

# Diretórios do Visual Studio
.vs/

# Arquivos de configurações do Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Arquivos de pacotes NuGet
*.nupkg
.nuget/

# Outros arquivos temporários
*.db
*.v2
*.vsidx
*.dll
